<html lang="en-us">
	<head>
		<meta charset="utf-8">
    	<title>CSV Report</title>
    </head>
	<body>
		<h1>This is Priya</h1>

		<%= accounts['Priya'][:categories]["Allowance"][:tally]%>
	</body>
</html>