<h1>Add a row</h1>

<form action="/add_row">
  <label for="account">Enter account here:</label>
  <input type="text" name="account">
    <label for="date">Enter a date here:</label>
  <input type="text" name="date">
    <label for="payee">Enter a payee here:</label>
  <input type="text" name="payee">
    <label for="category">Enter a category here:</label>
  <input type="text" name="category">
    <label for="outflow">Enter a outflow here:</label>
  <input type="text" name="outflow">
    <label for="inflow">Enter a inflow here:</label>
  <input type="text" name="inflow">

  <input type="submit">
</form>