<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="<%= url("/styles.css") %>">
  <!-- Font Awesome CDN -->
    <script src="https://use.fontawesome.com/f52b318aa2.js"></script>
  <title>CSV Report</title>
</head>
<body>
  <%= yield %>
</body>
</html>