<div class="container flex">
<section class="col-1-2 welcome">
	<header>
		<h1>Meridian Credit Union.</h1>
	</header>
	<h2>What it means to be First.</h2>
	<ul>
		<li>Doing what’s right for our customers</li>
		<li>Earning a spot as one of America’s Best Banks</li>
		<li>Loans designed to do the most for our customers</li>
		<li>Supporting our local communities</li>
	</ul>
	<div>
		<p>Login With Social Media</p>
		<div class="flex txt-align-cntr">
			<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i>Login with Twitter</a>
		</div>
	</div>
</section>
<section class="col-1-2 txt-align-cntr login">
	<header>
		<h2>Login</h2>
		<form action="/user_logged_in">
			<input type="text" name="name" placeholder="Username">
			<input type="password" name="password" placeholder="Password">
			<input type="submit">
		</form>
	</header>
	<a href="#">Create Account</a>
	<a href="#">Forgot Password?</a>
</section>
</div>