<html lang="en-us">
	<head>
		<meta charset="utf-8">
    	<title>CSV Report</title>
    </head>
	<body>
		<h1>Three Links</h1>
		<ul>
			<li><a href="/full">Full Report</a></li>
			<li><a href="/account">Priya's Report</a></li>
			<li><a href="/account/name">Sonia's Report</a></li>
		</ul>
	</body>
</html>