/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
  1.1 - Headings
  1.2 - Body Copy
  1.3 - Buttons
  1.4 - Forms
2.0 - Navigation Menus
  2.1 - Main Menu
  2.2 - Footer Menu
3.0 - Content
  3.1 - Site Structure
  3.2 - Columns / Widths
4.0 - Media
5.0 - Utility
  Vertical Sliding
  topToBottom Animation
  5.1 - Background Colors
  5.2 - Alignments
  5.3 - Breakpoints
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 - TYPOGRAPHY
-------------------------------------------------------------- */
/*-- 1.1 - Headings --*/
/*-- 1.2 - Body Copy --*/
/*--------------------------------------------------------------
2.0 - NAVIGATION MENUS
-------------------------------------------------------------- */
/*-- 2.1 - Main Menu --*/
/*--------------------------------------------------------------
3.0 - CONTENT
-------------------------------------------------------------- */
/*-- 3.1 - Site Structure --*/
/*--------------------------------------------------------------
4.0 - MEDIA
-------------------------------------------------------------- */
/*--------------------------------------------------------------
5.0 - UTILITY
-------------------------------------------------------------- */