.row:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  padding-right: 25px;
}

html * {
  padding: 0;
  margin: 0;
}/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
  1.1 - Headings
  1.2 - Body Copy
  1.3 - Buttons
  1.4 - Forms
2.0 - Navigation Menus
  2.1 - Main Menu
  2.2 - Footer Menu
3.0 - Content
  3.1 - Site Structure
  3.2 - Columns / Widths
4.0 - Media
5.0 - Utility
  Vertical Sliding
  topToBottom Animation
  5.1 - Background Colors
  5.2 - Alignments
  5.3 - Breakpoints
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 - TYPOGRAPHY
-------------------------------------------------------------- */
.welcome {
  font-family: 'PT Serif', serif;
}
.login, .welcome ul, h2 {
  font-family: 'Open Sans', sans-serif;
}
/*-- 1.1 - Headings --*/
h1 {
  font-size: 4rem;
  margin-bottom: 30px;
}
h2 {
  margin-bottom: 10px;
}
/*-- 1.2 - Body Copy --*/

/*-- 1.4 - Forms --*/
form {
  width: 50%;
  margin: 0 auto;
}
input {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
}
input[placeholder] {
  text-align: center;
}
.login a {
  font-size: .6rem;
  padding: 5px;
}
/*--------------------------------------------------------------
2.0 - NAVIGATION MENUS
-------------------------------------------------------------- */
/*-- 2.1 - Main Menu --*/
/*--------------------------------------------------------------
3.0 - CONTENT
-------------------------------------------------------------- */
/*-- 3.1 - Site Structure --*/
.container {
  height: 100vh;
  min-height: 600px;
}

.col-1-2 {
    width: 50%;
}

section {
  margin-bottom: 0;
}

.welcome header, .login {
  margin-top: 250px;
}


/*--------------------------------------------------------------4.0 - MEDIA
-------------------------------------------------------------- */

/*--------------------------------------------------------------
5.0 - UTILITY
-------------------------------------------------------------- */
/*-- 5.1 - Background Colors --*/
.welcome {
  background-color: #7B54DF;

}
/*-- 5.2 - Alignments --*/

label {
  display: none;
}
.flex {
  display: flex;
}
.txt-align-cntr {
  text-align: center;
}





